.tipButton,
.customTipButton,
.customTipInput {
  background-color: var(--dark-green-color);
  color: var(--container-bg-color);
  width: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--space-mono-font-family);
  font-weight: var(--bold-font-weight);
  letter-spacing: 0.088em;
  font-size: var(--form-number-size-XLS);
  line-height: var(--line-height);
  text-align: center;
  padding: 8px 8px;
  border: none;
  cursor: pointer;
  transition:
    background-color var(--ease-out-transition),
    color var(--ease-out-transition);
}

.tipButton:hover {
  background-color: var(--button-hover-color);
  color: var(--dark-green-color);
}

.selectedTip {
  background: var(--light-green-color);
  color: var(--dark-green-color);
}

.selectedTip:hover {
  background-color: var(--light-green-color);
}

.customTipButton,
.customTipInput {
  padding: 8px 8px;
  background-color: var(--input-field-bg-color);
  font-size: var(--button-text-font-size-XLS);
  line-height: var(--line-height);
  color: var(--label-color);
}

.customTipButton:hover {
  background-color: var(--custom-tip-hover-color);
}

.hide {
  display: none;
}

.customTipInput {
  padding: 8px 8px;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  font-size: var(--form-number-size-XLS);
  line-height: var(--line-height);
  color: var(--dark-green-color);
  border: none;
  outline: 3px solid transparent;
}

.customTipInput:focus {
  outline: 3px solid var(--light-green-color);
}

.customTipInput::-webkit-outer-spin-button,
.customTipInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Laptop (LS) */
@media (max-width: 1100px) {
  .tipButton,
  .customTipInput {
    font-size: var(--form-number-size-LS);
  }
  .customTipButton {
    font-size: var(--button-text-font-size-LS);
  }
}

/* Tablet (TS) */
@media (max-width: 884px) {
  .tipButton,
  .customTipButton,
  .customTipInput {
    font-size: var(--form-number-size-TS);
    max-height: 3rem;
  }
  .customTipButton {
    font-size: var(--button-text-font-size-TS);
  }
}

/* Mobile */
/* @media (max-width: 550px) {
  .tipButton,
  .customTipButton,
  .customTipInput {
    max-height: 3rem;
    line-height: 1.5;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */
