.appContainer {
  width: 100%;
  padding: 10rem 2rem;
  background-color: var(--app-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
  font-family: var(--space-mono-font-family);
  font-size: var(--app-font-size);
  line-height: var(--line-height);
  font-weight: var(--bold-font-weight);
  letter-spacing: 0.8rem;
  color: var(--dark-green-color);
}

.container {
  max-width: 1280px;
  padding: 3.75rem;
  width: 100%;
  border-radius: 32px;
  background-color: var(--container-bg-color);
  display: grid;
  grid-template-columns: minmax(28.35rem, 0.9fr) minmax(0, 1fr);
  gap: 3.75rem;
}

.billingFormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.totalsContainer {
  width: 100%;
}

.spacer_one {
  height: 1.75rem;
}

.spacer_two {
  height: 3.5rem;
}

/* Laptop S */
@media (max-width: 1100px) {
  .container {
    grid-template-columns: minmax(0, 0.9fr) minmax(0, 1fr);
    gap: 3rem;
    padding: 3rem;
  }

  .spacer_one {
    height: 1rem;
  }

  .spacer_two {
    height: 2.75rem;
  }
}

/* Tablet */
@media (max-width: 884px) {
  .container {
    grid-template-columns: minmax(14rem, 0.9fr) minmax(0, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .spacer_one {
    height: 0.5rem;
  }

  .spacer_two {
    height: 2rem;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .appContainer {
    min-width: 20rem;
    padding: 2.5rem 0 0 0;
    gap: 2.0625rem;
  }

  .container {
    max-height: fit-content;
    max-width: 550px;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    border-radius: 20px 20px 0 0;
  }
}
