.container {
  width: 100%;
  font-family: var(--space-mono-font-family);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tipHeading {
  font-size: var(--label-font-size-XLS);
  font-weight: var(--bold-font-weight);
  line-height: var(--line-height);
  color: var(--label-color);
  letter-spacing: 0.1em;
}

.tipGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(8.4375rem, 1fr));
  gap: 1.5rem;
}

/* Laptop (LS) */
@media (max-width: 1100px) {
  .container {
    gap: 1rem;
  }

  .tipHeading {
    font-size: var(--label-font-size-LS);
  }
  .tipGrid {
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    gap: 1rem;
  }
}

/* Tablet (TS) */
@media (max-width: 884px) {
  .container {
    gap: 0.75rem;
  }

  .tipHeading {
    font-size: var(--label-font-size-TS);
  }

  .tipGrid {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 0.5rem;
  }
}

/* Mobile (MS) */
@media (max-width: 700px) {
  .tipGrid {
    margin-inline: auto;
    /* max-width: 21.4rem; */
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
    gap: 1rem;
  }
}
