.resetButton {
  font-family: var(--space-mono-font-family);
  background-color: var(--light-green-color);
  border-radius: 7px;
  width: 100%;
  border: none;
  padding: 13px 0;
  font-weight: var(--bold-font-weight);
  font-size: var(--button-text-font-size-XLS);
  line-height: var(--line-height);
  letter-spacing: 0.088em;
  color: var(--dark-green-color);
  cursor: pointer;
}

.resetButton:hover {
  background-color: var(--button-hover-color);
}

.resetButton:focus {
  outline: 2px solid var(--container-bg-color);
}

.resetButton:disabled {
  background-color: var(--button-disabled-color);
  cursor: not-allowed;
}

/* Laptop (LS) */
@media (max-width: 1100px) {
  .resetButton {
    font-size: var(--button-text-font-size-LS);
  }
}

/* Tablet (TS) */
@media (max-width: 884px) {
  .resetButton {
    font-size: var(--button-text-font-size-TS);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .resetButton {
    padding: 9px 0;
  }
}
